S2 - 1.1.1 Informatik I/Python - Collections Module/__pycache__/funktionen_a1.cpython-311.pyc
S2 - 1.1.1 Informatik I/Python - Collections Module/__pycache__/funktionen_a2.cpython-311.pyc
S2 - 1.1.1 Informatik I/Python - Collections Module/__pycache__/funktionen_a3.cpython-311.pyc
S2 - 1.1.1 Informatik I/Python - Collections Module/__pycache__/funktionen_a4.cpython-311.pyc
S2 - 1.1.1 Informatik I/Python - Collections Module/__pycache__/funktionen.cpython-311.pyc
